.details__wrapper {
  .wrapper;
  margin-bottom: 46px;


  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @grey-border;
    padding-bottom: 28px;
    margin-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    border: none;
    margin-bottom: 22px;
  }
}

.details__heading {
  .heading(36px; 40px);
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    .heading(60px; 60px);
    margin-bottom: 11px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.details__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
}

.details__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 80px;
  margin-bottom: 26px;

  & br {
    display: none;
  }

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: @green;
    left: 0;
    top: 0;
  }

  @media (min-width: @tablet-width) {
    flex-direction: column;
    padding-top: 170px;
    padding-left: 0;
    margin-right: 139px;
    margin-bottom: 75px;
    flex: 1;

    & br {
      display: block;
    }

    &:nth-child(2) {
      margin-right: 85px;
    }

    &:nth-child(4) {
      margin-right: 75px;
    }

    &::before {
      width: 80px;
      height: 80px;
      left: 0;
      top: 60px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 173px;
    margin-right: 77px;
    flex: 1;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
