.details {
  .wrapper;
  box-sizing: border-box;
}

.details__heading {
  .page-heading;
  line-height: 40px;
}

.details__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.details__item {
  .description;
  padding-bottom: 26px;
  padding-left: 80px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: @green;
    left: 0;
  }
}
