.example-result {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
    margin-bottom: 137px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.example-result__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 45%;
  margin-right: 10%;
  margin-bottom: 8px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  @media (min-width: @tablet-width) {
    width: 23%;
    margin-right: 5.8%;
    margin-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    width: 37%;
    margin-right: 9.5%;
    margin-bottom: 33px;
  }
}

.example-result__count {
  .heading(24px; 24px);
  padding: 14px 0 17px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  border: 1px solid @special-grey;
  border-radius: 3px;
  overflow-wrap: break-word;

  @media (min-width: @tablet-width) {
    .heading(30px; 37px);
    padding: 14px 0 20px;
  }
}

.example-result__text {
  font-size: 12px;
  line-height: 12px;
  background-color: @bg-grey;
  margin-top: -10px;
  width: 70%;
  text-align: center;
  padding: 0 13px;
  overflow-wrap: break-word;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 85%;
    background-color: @basic-white;
    padding: 0 5px;
  }

  @media (min-width: @desktop-width) {
    width: 90%;
    background-color: @bg-grey;
  }
}

.example-result__cost {
  .heading(14px; 20px);
  text-transform: uppercase;
  margin: 0 auto 42px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & p {
    margin: 0;
    word-break: break-all;
  }

  @media (min-width: @tablet-width) {
    .heading(20px; 27px);
    width: 25%;
    text-align: right;
    margin-right: 0;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 8px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 74.5%;
    text-align: left;
    margin: 0;
    margin-top: 0;
  }
}

.example-result__sum {
  @media (min-width: @tablet-width) {
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    line-height: 27px;
  }
}
