.example-result {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
  }
}

.example-result__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 124px;
  margin-right: 31px;
  margin-bottom: 20px;

  &:nth-child(2) {
    margin-right: 0;
  }

  @media (min-width: @tablet-width) {
    width: 162px;
    margin-right: 42px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 58px;
  }
}

.example-result__count {
  .heading(24px; 24px);
  padding: 14px 41px 17px;
  text-transform: uppercase;
  margin: 0;
  border: 1px solid @special-grey;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    .heading(30px; 37px);
    padding-left: 56px;
    padding-right: 56px;
  }
}

.example-result__item--duration .example-result__count {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    padding-left: 29px;
    padding-right: 29px;
  }
}

.example-result__text {
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  background-color: @bg-grey;
  margin: 0;
  width: 59px;
  text-align: center;
  top: 47px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 127px;
    background-color: @basic-white;
    top: 63px;
  }

  @media (min-width: @desktop-width) {
    background-color: @bg-grey;
  }
}

.example-result__cost {
  .heading(14px; 20px);
  text-transform: uppercase;
  margin: 8px auto 42px;
  width: 188px;
  display: flex;

  & p {
    margin: 0;
  }

  @media (min-width: @tablet-width) {
    .heading(20px; 27px);
    width: 174px;
    text-align: right;
    margin-right: 0;
    flex-direction: column;
    justify-content: flex-end;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 324px;
    text-align: left;
    margin: 0;
  }
}
