.example {
  background-color: @bg-grey;
}

.example__wrapper {
  .wrapper;
}

.example__heading {
  .heading(36px; 40px; @basic-black);
  padding-top: 27px;
}

.example__description {
  .description(14px; 18px; @special-dark-grey);
  margin-bottom: 25px;
  width: 279px;
}

.example__costs {
  .heading(14px; 20px; @basic-black);
  text-transform: uppercase;
  margin: 0 auto 42px;
}
