.page-main__heading {
  .heading(14px; 14px; @basic-white);
  background-color: @green;
  padding: 27px 0;
  margin-bottom: 5px;
  text-align: center;
}

.page-main__title {
  .heading(36px; 36px);
  width: 249px;
  margin: 0 auto 25px;
}

.page-main__slogan {
  text-transform: uppercase;
  width: 198px;
  margin: 0 auto 29px;
}
