.programs {
  @media (min-width: @desktop-width) {
    margin-bottom: 42px;
  }
}

.programs__button {
  .button(14px);
  line-height: 18px;
  width: 280px;
  padding-bottom: 12px;
  margin: 0 auto 22px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    width: 244px;
    padding: 18px 26px;
    margin-left: 112px;
    margin-bottom: 526px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 273px;
    margin-left: 190px;
    padding: 14px 26px 16px;
  }
}

.programs__list {
  .wrapper;
  list-style: none;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.programs__item {
  @media (min-width: @desktop-width) {
    width: 570px;
    margin-right: 80px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.programs__card {
  background-color: @basic-grey;
  padding: 35px 0 20px 20px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding: 77px 279px 63px 52px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 77px 51px 65px 52px;
  }
}

.programs__title {
  .heading(24px; 27px);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 35px;
  padding-left: 72px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    left: 2px;
    top: -11px;
    background-color: @green;
    border-radius: 50%;
  }

  @media (min-width: @tablet-width) {
    .heading(36px; 36px);
    padding-left: 0;
    margin-bottom: 24px;

    &::before {
      width: 200px;
      height: 200px;
      left: 394px;
      top: 13px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 162px;
    margin-bottom: 75px;

    &::before {
      width: 100px;
      height: 100px;
      left: 0;
      top: -30px;
    }
  }
}

.programs__description {
  padding-right: 33px;
  margin-bottom: 42px;

  & br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 58px;
    padding-right: 0;

    & br {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 33px;
    & br {
      display: none;
    }
  }
}

.programs__link {
  .heading(16px; 16px);
  text-transform: uppercase;
  display: block;
  position: relative;

  &:active,
  &:focus {
    opacity: 0.3;
  }

  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 2px;
    left: 100px;
    top: 7px;
    background-color: @basic-black;
  }

  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 118px;
    top: 3px;
    background-color: transparent;
    border: 5px solid transparent;
    border-left: 5px solid @basic-black;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;

    &::before {
      left: 133px;
      top: 7px;
    }

    &::after {
      left: 151px;
      top: 3px;
    }
  }
}
