.programs {
  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 42px;
    margin-top: -95px;
  }
}

.programs__list {
  .wrapper;
  list-style: none;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 82px;
  }
}

.programs__item {
  @media (min-width: @desktop-width) {
    width: 47%;
    margin-right: 6%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.programs__card {
  background-color: @basic-grey;
  padding: 13% 7% 8%;
  margin-bottom: 18px;

  &--slim {
    & .programs__title {
      &::before {
        background-image: url("../img/cat-slim.svg");
        top: -14px;
      }
    }
  }

  &--pro {
    & .programs__title {
      padding-left: 70px;

      &::before {
        background-image: url("../img/cat-pro.svg");
        width: 67px;
        height: 50px;
        left: -7px;
      }
    }
  }

  @media (min-width: @tablet-width) {
    padding: 10.7% 40% 9.3% 7%;
    margin-bottom: 30px;

    &--slim {
      & .programs__title {
        &::before {
          top: 3px;
          left: 105.5%;
          background-size: cover;
        }
      }

      & .programs__description {
        padding-right: 0;
      }
    }

    &--pro {
      padding-top: 11%;
      padding-bottom: 9.2%;

      & .programs__title {
        padding-left: 0;
        margin-bottom: 24px;

        &::before {
          width: 268px;
          height: 200px;
          left: 96%;
          top: 13px;
          background-size: cover;
        }
      }

      & .programs__description {
        width: 91%;
      }
    }
  }

  @media (min-width: @desktop-width) {
    padding: 14% 9% 11% 9%;

    &--slim {
      & .programs__title {
        &::before {
          width: 100px;
          height: 106px;
          left: 0;
          top: -37px;
        }
      }

      & .programs__description {
        padding-bottom: 0;
      }
    }

    &--pro {
      padding-left: 55px;

      & .programs__title {
        margin-bottom: 73px;
        padding-left: 162px;

        &::before {
          width: 134px;
          height: 100px;
          left: -20px;
          top: -32px;
        }
      }

      & .programs__description {
        padding-right: 0;
        padding-bottom: 0;
        width: 97%;
      }
    }
  }
}

.programs__title {
  .heading(24px; 27px);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 34px;
  padding-left: 72px;
  padding-right: 20px;
  position: relative;
  word-break: break-all;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 53px;
    left: 2px;
    top: -11px;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    .heading(36px; 36px);
    padding-left: 0;
    margin-bottom: 26px;

    &::before {
      width: 200px;
      height: 212px;
      left: 392px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;

    &::before {
      width: 100px;
      height: 106px;
    }
  }
}

.programs__description {
  width: 100%;
  border-bottom: 1px solid @grey-line;
  padding-bottom: 21px;
  overflow-wrap: break-word;

  @media (min-width: @tablet-width) {
    margin-bottom: 36px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 33px;
  }
}

.programs__link {
  .heading(16px; 16px);
  text-transform: uppercase;
  padding-top: 5px;
  word-break: break-all;
  width: 40%;
  max-width: 60%;
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 2px;
    left: 105%;
    background-color: @basic-black;
  }

  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 123%;
    background-color: transparent;
    border: 5px solid transparent;
    border-left: 5px solid @basic-black;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }

  &:hover {
    &::before {
      width: 26px;
    }

    &::after {
      left: 123px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    padding-top: 0;
    width: 34%;

    &::before {
      width: 20px;
    }

    &::after {
      left: 118%;
    }

    &:hover {
      &::before {
        width: 28px;
      }

      &::after {
        left: 158px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    width: 27.3%;

    &:hover {
      &::after {
        left: 160px;
      }
    }
  }
}
