.form-main__heading {
  .wrapper;
  margin-bottom: 39px;
}

.form-main__title {
  .heading(36px; 36px; @basic-black);
  margin-bottom: 37px;
  width: 259px;
}

.form-main__text {
  .heading(14px; 18px; @basic-black);
  text-transform: uppercase;
  width: 226px;
}
