.form {
  padding-bottom: 32px;
}

.form__wrapper {
  .wrapper;

  @media (min-width: @tablet-width) {
    padding-left: 70px;
    padding-right: 66px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.form__columns {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
  }
}

.form__item {
  .form-font;
  border: none;
  margin: 0;
  padding: 20px 0;

  @media (min-width: @tablet-width) {
    .form-font(20px; 30px);

    & .form__title {
      margin-bottom: 76px;
    }

    &--add .form__title {
      margin-bottom: 57px;
    }
  }

  @media (min-width: @desktop-width) {
    &--info,
    &--program {
      width: 46.7%;
      padding: 0;
    }
  }
}

.form__title {
  margin-bottom: 30px;
}

.form__legend {
  .heading(24px; 26px; @basic-black);
  text-transform: none;

  @media (min-width: @tablet-width) {
    .heading(36px; 36px; @basic-black);
  }
}

.form__container {
  text-transform: uppercase;
  width: 100%;

  @media (min-width: @desktop-width) {
    &--contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 67px;
    }

    &--contacts .form__point {
      width: 46.7%;
      margin-bottom: 0;
    }
  }
}

.form__point {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @desktop-width) {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.form__field {
  .form-font;
  border: 1px solid @grey-border-input;
  padding: 12px 16px 13px 16px;
  flex: 1;
  margin-left: 10px;

  &::placeholder {
    .form-font;
    text-transform: uppercase;
  }

  @media (min-width: @tablet-width) {
    .form-font(20px; 30px);
    padding: 10px 16px;

    &::placeholder {
      .form-font(20px; 30px);
    }
  }
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;

  &--goal {
    color: @special-dark-text;
  }

  &--extra {
    color: @basic-black;
  }

  @media (min-width: @tablet-width) {
    &--goal {
      border: 1px solid @grey-border-input;
      padding: 25px 0;
      padding-left: 28px;
    }

    &--extra {
      display: flex;
      flex-wrap: wrap;
    }

    &--extra .form__option {
      width: 50%;
    }
  }

  @media (min-width: @desktop-width) {
    &--extra .form__option {
      width: 25%;
    }
  }
}

.form__option {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  & label {
    .form-font;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }
}

.form__radio {
  .form-font;
  display: none;

  & + label {
    position: relative;
    padding-left: 46px;
    cursor: pointer;
  }

  & + label::before {
    position: absolute;
    content: "";
    border: 1px solid @special-grey;
    cursor: pointer;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  & + label::after {
    display: none;
    position: absolute;
    content: "";
    cursor: pointer;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    left: 9px;
    top: 3px;
    background-color: @green;
  }

  &:checked + label::after {
    display: block;
  }

  @media (min-width: @tablet-width) {
    & + label {
      padding-left: 60px;
    }

    & + label::before {
      width: 40px;
      height: 40px;
    }

    & + label::after {
      width: 18px;
      height: 18px;
      left: 11px;
      top: 0;
    }
  }
}

.form__checkbox {
  .form-font;
  display: none;

  & + label {
    position: relative;
    padding-left: 46px;
    cursor: pointer;
  }

  & + label::before {
    position: absolute;
    content: "";
    border: 1px solid @special-grey;
    cursor: pointer;
    left: 0;
    width: 30px;
    height: 30px;
  }

  & + label::after {
    display: none;
    position: absolute;
    content: "";
    cursor: pointer;
    width: 7px;
    height: 13px;
    border: 2px solid transparent;
    border-bottom: 2px solid @green;
    border-right: 2px solid @green;
    transform: rotate(45deg);
    background-color: transparent;
    left: 12px;
    top: 0;
  }

  &:checked + label::after {
    display: block;
  }

  @media (min-width: @tablet-width) {
    & + label {
      padding-left: 60px;
    }

    & + label::before {
      width: 40px;
      height: 40px;
    }

    & + label::after {
      width: 10px;
      height: 16px;
      left: 15px;
      top: -3px;
    }
  }
}

.form__textarea {
  .form-font;
  color: @special-dark-grey;
  width: 100%;
  height: 150px;
  border: 1px solid @grey-border-input;
  padding: 13px 12px 0 15px;

  &::placeholder {
    .form-font;
    text-transform: uppercase;
  }
}

.form__footer {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 83%;
  }

  @media (min-width: @desktop-width) {
    width: 68%;
  }
}

.form__button {
  .button;
  font-weight: 400;
  width: 280px;
  border: none;
  padding: 7px 44px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 282px;
    padding: 13px 45px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    padding: 13px 188px;
  }
}

.form__note {
  .description(14px; 16px; @basic-black);

  @media (min-width: @tablet-width) {
    .description(16px; 16px; @basic-black);
    padding-top: 13px;
  }
}
