.form {
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    padding-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 82px;
  }
}

.form__container {
  .wrapper;
  width: 100%;
  padding-left: 18px;

  @media (min-width: @tablet-width) {
    padding-right: 67px;
    padding-left: 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.form__columns {
  @media (min-width: @desktop-width) {
    .wrapper;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
  }
}

.form__item {
  .heading(16px; 18px);
  .uppercase-text(@special-dark-grey);
  border: none;
  padding: 0;
  margin-bottom: 12px;

  &--info {
    & label {
      margin-top: 7px;
    }

    & .form__label {
      margin-top: 14px;
    }

    & .form__point {
      margin: 0 0 12px;
    }

    & .form__field {
      margin-left: 16px;
    }
  }

  &--program {
    border-top: 1px solid @grey-border-input;
    border-bottom: 1px solid @grey-border-input;
    margin-bottom: 26px;
  }

  &--contacts {
    margin-bottom: 10px;

    & .form__title {
      margin-bottom: 35px;
    }

    & label {
      margin-top: 5px;
    }

    & .form__point {
      margin: 0 0 13px;
    }
  }

  &--comment {
    margin-bottom: 21px;

    & .form__title {
      margin-bottom: 38px;
    }
  }

  &--add {
    margin-bottom: 41px;

    & .form__title {
      margin-bottom: 40px;
    }
  }

  @media (min-width: @tablet-width) {
    .heading(20px; auto);
    color: @special-dark-grey;

    &--info {
      margin-bottom: 51px;

      & label {
        margin-top: 10px;
      }

      & .form__point {
        margin: 0 0 20px;
      }

      & .form__field {
        margin-left: 19px;
        padding-left: 16px;
      }
    }

    &--program {
      border: none;
      margin-bottom: 75px;
    }

    &--contacts {
      margin-bottom: 45px;

      & .form__title {
        margin-bottom: 75px;
      }

      & label {
        margin-top: 10px;
      }

      & .form__point {
        margin: 0 0 20px;
      }

      & .form__field {
        &--mail {
          margin-left: 18px;
        }

        &--tel {
          margin-left: 15px;
        }
      }
    }

    &--comment {
      margin-bottom: 65px;

      & .form__title {
        margin-bottom: 75px;
      }

      & .form__legend {
        &::after {
          flex-grow: 17;
        }
      }
    }

    &--add {
      margin-bottom: 10px;

      & .form__title {
        margin-bottom: 69px;
      }

      & .form__legend {
        &::after {
          flex-grow: 15;
        }
      }
    }
  }

  @media (min-width: @desktop-width) {
    &--info {
      margin-bottom: 0;

      & .form__container {
        width: 568px;
        padding: 0;
      }
    }

    &--program {
      margin-bottom: 0;

      & .form__container {
        width: 568px;
        padding: 0;
      }
    }

    &--contacts {
      margin-bottom: 0;

      & .form__legend {
        &::after {
          flex-grow: 11;
        }
      }

      & .form__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 67px;
      }

      & .form__point {
        margin-bottom: 0;
        width: 568px;
      }
    }

    &--comment {
      margin-bottom: 70px;
    }

    &--add {
      margin-bottom: 17px;

      & .form__title {
        margin-bottom: 67px;
      }
    }
  }
}

.form__legend {
  .heading(24px; 26px);
  .wrapper;
  padding-left: 18px;
  width: 100%;
  padding-right: 0;
  margin-bottom: 28px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: none;

  &::after {
    content: "";
    flex-grow: 10;
    flex-shrink: 0;
    height: 2px;
    margin-left: 22px;
    margin-top: 2px;
    background-color: @green;
  }

  @media (min-width: @tablet-width) {
    .heading(36px; 36px);
    padding-left: 0;
    padding-right: 0;
    width: 100%;

    &::before {
      content: "";
      width: 30px;
      height: 2px;
      margin-top: 10px;
      margin-right: 40px;
      background-color: @green;
    }

    &::after {
      margin-top: 10px;
      margin-left: 40px;
      flex-grow: 5;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      width: 70px;
    }
  }
}

.form__point {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.form__field {
  .heading(16px; 18px);
  .uppercase-text(@special-dark-grey);
  border: 1px solid @grey-border-input;
  padding: 13px 16px 13px 14px;
  flex: 1;
  margin-left: 11px;

  @media (min-width: @tablet-width) {
    .heading(20px; 30px);
    color: @special-dark-grey;
    padding: 10px 20px;
  }
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;

  &--goal {
    color: @special-dark-text;
    padding: 27px 0 24px;
  }

  &--extra {
    color: @basic-black;
  }

  &--extra .form__option {
    margin-bottom: 24px;
  }

  @media (min-width: @tablet-width) {
    &--goal {
      border: 1px solid @grey-border-input;
      padding: 36px 0;
      padding-left: 27px;

      & .form__option {
        margin-bottom: 35px;
      }
    }

    &--extra {
      display: flex;
      flex-wrap: wrap;

      & .form__option {
        width: 282px;
        margin-right: 60px;
        margin-bottom: 54px;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }

  @media (min-width: @desktop-width) {
    &--extra {
      padding-right: 24px;

      & .form__option {
        width: 221px;
        margin-right: 104px;

        &:nth-child(2) {
          margin-right: 104px;
        }
      }
    }
  }
}

.form__option {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  & label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.form__radio {
  display: none;

  & + label {
    position: relative;
    padding-left: 46px;
    cursor: pointer;
  }

  & + label::before {
    position: absolute;
    content: "";
    border: 1px solid @special-grey;
    cursor: pointer;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  & + label::after {
    display: none;
    position: absolute;
    content: "";
    cursor: pointer;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    left: 9px;
    top: 3px;
    background-color: @green;
  }

  &:checked + label::after {
    display: block;
  }

  @media (min-width: @tablet-width) {
    & + label {
      padding-left: 59px;

      &::before {
        width: 40px;
        height: 40px;
      }

      &::after {
        width: 18px;
        height: 18px;
        left: 11px;
        top: 0;
      }
    }
  }
}

.form__checkbox {
  display: none;

  & + label {
    position: relative;
    padding-left: 46px;
    cursor: pointer;
  }

  & + label::before {
    position: absolute;
    content: "";
    border: 1px solid @special-grey;
    cursor: pointer;
    left: 0;
    width: 30px;
    height: 30px;
  }

  & + label::after {
    display: none;
    position: absolute;
    content: "";
    cursor: pointer;
    width: 7px;
    height: 13px;
    border: 2px solid transparent;
    border-bottom: 2px solid @green;
    border-right: 2px solid @green;
    transform: rotate(45deg);
    background-color: transparent;
    left: 12px;
    top: 0;
  }

  &:checked + label::after {
    display: block;
  }

  @media (min-width: @tablet-width) {
    & + label {
      padding-left: 60px;

      &::before {
        width: 40px;
        height: 40px;
      }

      &::after {
        width: 10px;
        height: 16px;
        left: 15px;
        top: -3px;
      }
    }
  }
}

.form__textarea {
  .heading(16px; 18px);
  .uppercase-text(@special-dark-grey);
  width: 100%;
  height: 150px;
  border: 1px solid @grey-border-input;
  padding: 8px 12px 0 13px;

  @media (min-width: @tablet-width) {
    .heading(20px; 30px);
    padding: 10px 12px 0 17px;
    height: 174px;
  }
}

.form__footer {
  text-align: center;
  line-height: 16px;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 174px;
    margin: 0 auto;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 476px;
  }
}

.form__button {
  .button;
  border: none;
  margin: 0 auto 16px;

  @media (min-width: @tablet-width) {
    width: 282px;
    font-size: 20px;
    padding: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    margin: 0;
  }
}

.form__note {
  @media (min-width: @tablet-width) {
    padding-top: 10px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 13px;
  }
}
