.form {
  .form-font;
  padding-bottom: 32px;
}

.form__item {
  border: none;
  margin: 0;
  padding: 20px 0;
}

.form__title {
  .wrapper;
  padding-right: 0;
  margin-bottom: 30px;
}

.form__legend {
  .heading(24px; 26px; @basic-black);
  text-transform: none;

  &--contacts {
    width: 187px;
  }
}

.form__wrapper {
  .wrapper;
  text-transform: uppercase;
}

.form__point {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form__input {
  border: 1px solid @grey-border-input;
  padding: 14px;

  &::placeholder {
    text-transform: uppercase;
  }

  &--name {
    width: 228px;
  }

  &--weight {
    width: 191px;
  }

  &--age {
    width: 172px;
  }

  &--mail {
    width: 219px;
  }

  &--tel {
    width: 200px;
  }
}

.form__list {
  .wrapper;
  list-style: none;
  text-transform: uppercase;

  &--goal {
    color: @special-dark-text;
  }

  &--extra {
    color: @basic-black;
  }
}

.form__option {
  margin-bottom: 20px;

  & label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.form__radio,
.form__checkbox {
  display: none;
}

.form__radio + label,
.form__checkbox + label {
  position: relative;
  padding-left: 46px;
  cursor: pointer;
}

.form__radio + label::before,
.form__checkbox + label::before {
  position: absolute;
  content: "";
  border: 1px solid @special-grey;
  cursor: pointer;
  left: 0;
}

.form__radio + label::before {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.form__checkbox + label::before {
  width: 26px;
  height: 26px;
}

.form__radio + label::after,
.form__checkbox + label::after {
  display: none;
  position: absolute;
  content: "";
  cursor: pointer;
}

.form__radio + label::after {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  left: 9px;
  top: 6px;
  background-color: @green;
}

.form__checkbox + label::after {
  width: 7px;
  height: 13px;
  border: 2px solid transparent;
  border-bottom: 2px solid @green;
  border-right: 2px solid @green;
  transform: rotate(45deg);
  background-color: transparent;
  left: 10px;
  top: 3px;
}

.form__radio:checked + label::after,
.form__checkbox:checked + label::after {
  display: block;
}

.form__textarea {
  .heading(16px; 18px; @special-dark-grey);
  width: 280px;
  height: 150px;
  border: 1px solid @grey-border-input;
  padding: 13px 12px 0 15px;

  &::placeholder {
    text-transform: uppercase;
  }
}

.form__footer {
  text-align: center;
}

.form__button {
  .button;
  font-family: @decor-font;
  font-weight: 400;
  width: 280px;
  border: none;
  display: inline-block;
  padding: 7px 44px;
  margin-bottom: 20px;
}

.form__note {
  .description(14px; 16px; @basic-black);
}

