.form-main__heading {
  .heading(36px; 36px);
  .wrapper;
  margin-bottom: 36px;
  margin-top: 26px;

  @media (min-width: @tablet-width) {
    .heading(60px; 60px);
    padding-left: 70px;
    padding-right: 66px;
    margin-top: 60px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    margin-top: 60px;
    margin-bottom: 56px;
  }
}

.form-main__text {
  .heading(14px; 18px);
  .wrapper;
  text-transform: uppercase;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    .heading(20px; 30px);
    margin-bottom: 52px;
    padding-left: 70px;
    padding-right: 66px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    margin-bottom: 66px;
  }
}
