.catalog-main__heading {
  .heading(36px; 36px; @basic-black);
  .wrapper;
  margin-bottom: 49px;

  @media (min-width: @tablet-width) {
    .heading(60px; 60px; @basic-black);
    margin-top: 60px;
    margin-bottom: 83px;
  }
}
