.catalog-main {
  margin: 0 auto;
  &__heading {
    font-family: "Oswald", Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400px;
    color: @basic-black;
    text-align: left;
    border-top: 1px solid @grey-border;
    padding-left: 20px;
    padding-top: 27px;
    margin-bottom: 41px;
    margin-top: 0px;
  }
}
