.catalog-main {
  width: @mobile-width;
  margin: 0 auto;
}

.catalog-main__heading {
  .page-heading;
  padding-top: 27px;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 41px;
  color: @basic-black;
}
