.extra-products__wrapper {
  .wrapper;
  line-height: 14px;

  @media (min-width: @tablet-width) {
    line-height: 20px;
    margin-bottom: 75px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 85px;
  }
}

.extra-products__heading {
  .heading(24px; 27px);
  position: relative;
  overflow: hidden;
  margin-bottom: 33px;
  word-break: break-all;

  & .extra-products__line {
    .wrapper;

    & > span {
      background-color: @basic-white;
      padding-right: 22px;
    }
  }

  &::before {
    .green-line;
  }

  @media (min-width: @tablet-width) {
    .heading(36px; 40px);
    margin-bottom: 76px;

    & .extra-products__line {
      & > span {
        padding: 0 37px;
      }
    }

    &::before {
      top: 23px;
      left: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 77px;

    & .extra-products__line {
      padding-left: 70px;

      & > span {
        padding: 0 40px;
      }
    }

    &::before {
      top: 23px;
      left: 0;
    }
  }
}

.extra-products__big-container {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.extra-products__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 39px;
  border-bottom: 1px solid @grey-border;
  word-break: break-all;

  @media (min-width: @tablet-width) {
    border: 1px solid @special-grey;
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    border-left: none;
    border-right: none;
    width: 73%;
    margin-bottom: 0;
  }
}

.extra-products__item {
  width: 100%;
  border-top: 1px solid @grey-border;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid @special-grey;

    &:first-child {
      border: none;
    }

    &:nth-child(2) .extra-products__info {
      width: 164px;
    }

    &:nth-child(3) .extra-products__info {
      width: 145px;
    }
  }

  @media (min-width: @desktop-width) {
    align-items: center;

    &:nth-child(2) .extra-products__info {
      width: 47%;
    }


    &:nth-child(3) .extra-products__info {
      width: 47%;
    }
  }
}

.extra-products__card {
  padding-top: 13px;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4% 5% 3%;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 613px;
    padding: 23px 0 24px;
  }
}

.extra-products__name {
  .heading(16px; 16px);
  .uppercase-text(@special-dark-text);
  margin-top: 0;
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    .heading(20px; 20px);
    color: @special-dark-text;
    margin: 0;
  }
}

.extra-products__link {
  .button;
  width: 100%;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    width: 90%;
    margin: 0 auto 3.6%;
  }

  @media (min-width: @desktop-width) {
    width: 27%;
    margin: 0;
  }
}

.extra-products__info {
  width: 100%;
  margin-bottom: 13px;

  & td {
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    width: 226px;
  }

  @media (min-width: @desktop-width) {
    width: 287px;
  }
}

.extra-products__size {
  @media (min-width: @tablet-width) {
    padding-right: 51px;
  }
}

.extra-products__price {
  text-transform: uppercase;
  text-align: right;
}

.extra-products__container {
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: @green;
  margin-bottom: 35px;
  padding-top: 186px;
  padding-bottom: 43px;
  position: relative;
  background-image: url("../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: contain;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 78px;
    height: 80px;
    top: 55px;
  }

  @media (min-width: @tablet-width) {
    align-items: center;
    text-align: left;
    padding: 9.5% 8% 10% 50%;
    background-image: url("../img/gift-photo-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }

    &::before {
      width: 20%;
      height: 42%;
      left: 6.5%;
      top: 28%;
    }
  }

  @media (min-width: @desktop-width) {
    width: 20%;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    background-image: url("../img/gift-photo-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }

    &::before {
      width: 25%;
      top: 12%;
      left: 38%;
    }
  }
}

.extra-products__text {
  margin: 0 auto;
  width: 161px;
  overflow-wrap: break-word;

  @media (min-width: @tablet-width) {
    width: 54%;
  }

  @media (min-width: @desktop-width) {
    width: 66%;
    margin-top: 145px;
  }
}
