.extra-products {
  .wrapper;
}

.extra-products__heading {
  .heading(24px; 24px; @basic-black);
  margin-bottom: 35px;
}

.extra-products__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 39px;
}

.extra-products__name {
  .product-name(16px);
}

.extra-products__link {
  .button;
  width: 280px;
  margin-bottom: 25px;
}

.extra-products__info {
  .product-info(14px; 14px);
  width: 280px;
  margin-bottom: 15px;
}

.extra-products__price {
  text-transform: uppercase;
  text-align: right;
}

.extra-products__wrapper {
  .description(16px; 20px; @basic-white);
  text-align: center;
  background-color: @green;
  margin-bottom: 35px;
  padding-top: 186px;
  padding-bottom: 43px;
}

.extra-products__text {
  margin: 0 auto;
  width: 161px;
}
