.extra-products__heading {
  .page-heading;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 35px;
  padding-left: 20px;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    height: 2px;
    margin-left: 22px;
    background-color: @green;
  }
}

.extra-products__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 39px;
}

.extra-products__item {
  padding-left: 20px;
  padding-right: 20px;
}

.extra-products__name {
  .product-name;
  line-height: 16px;
  color: @special-dark-text;
}

.extra-products__link {
  .button;
  width: 62px;
  padding: 10px 109px;
  margin-bottom: 25px;
}

.extra-products__info {
  font-size: 14px;
  line-height: 14px;
  width: 280px;
  margin-bottom: 15px;
}

.extra-products__price {
  text-transform: uppercase;
  text-align: right;
}

.extra-products__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @basic-white;
  background-color: @green;
  width: 161px;
  padding-top: 186px;
  padding-left: 60px;
  padding-bottom: 43px;
  padding-right: 60px;
  margin-bottom: 35px;
}
