.products-big-list {
  .wrapper;
  padding-top: 79px;

  @media (min-width: @tablet-width) {
    width: 324px;
    padding: 0 36px 40px;
    border: 2px solid @basic-grey;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    padding: 0 30px 40px 35px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.products-big-list__text {
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    padding: 0 40px;
    margin-bottom: 87px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }

  &--bold {
    .heading(16px; 20px);
    .uppercase-text(@black-text);

    @media (min-width: @tablet-width) {
      .heading(20px; 22px);
      color: @black-text;
      padding-top: 111px;
      margin-bottom: 23px;
    }

    @media (min-width: @desktop-width) {
      padding: 129px 10px 0;
    }
  }
}

.products-big-list__link {
  .button;
  color: @special-dark-grey;
  background-color: @basic-grey;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    width: 249px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
  }
}
