.products__container {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    .wrapper;
    font-size: 16px;
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: auto auto auto auto;
    margin-bottom: 76px;
  }
}

.products__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8.5%;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 6.5%;
  }
}

.products__item {
  width: 100%;
  border-top: 1px solid @grey-border;

  @media (min-width: @tablet-width) {
    margin-bottom: 142px;
    padding: 9% 11% 12%;
    background-color: @basic-grey;
    border: none;

    &:nth-child(7) {
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 143px;
    padding: 0 14% 16%;

    &:nth-child(5),
    &:nth-child(6) {
      margin-bottom: 0;
    }
  }
}

.products__card {
  .wrapper;
  padding: 20px 18px 9px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    position: relative;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 52%;
    margin-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 133px;
  }
}

.products__wrapper--photo {
  width: 50%;
  text-align: center;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -36%;
    width: 68%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    top: -26%;
  }
}

.products__photo {
  @media (min-width: @tablet-width) {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.products__wrapper--text {
  width: 50%;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    padding-top: 30px;
  }
}

.products__name-link {
  .heading(16px; 20px);
  .uppercase-text(@special-dark-text);
  display: block;
  width: 55%;
  margin-bottom: 14px;
  word-break: break-all;

  @media (min-width: @tablet-width) {
    .heading(20px; 24px);
    width: 52%;
    text-align: center;
    margin: 0 auto 15px;
  }

  @media (min-width: @desktop-width) {
    .heading(20px; 21px);
    margin-bottom: 20px;
    width: 74%;
  }
}

.products__info {
  width: 90%;
  border-collapse: collapse;
  word-break: break-all;

  & td {
    padding: 0;

    @media (min-width: @tablet-width) {
      line-height: 30px;
      border-bottom: 1px solid @special-grey;
    }
  }

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 97%;
  }
}

.products__value {
  text-align: right;

  &--price {
    text-transform: uppercase;
  }
}

.products__link {
  .button;
  margin: 0 auto;
  margin-bottom: 23px;
  word-break: break-all;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-bottom: 0;
  }
}
