.products-big-list {
  border-top: 1px solid @grey-border;
  border-bottom: 1px solid @grey-border;
  padding: 0 20px;
  padding-top: 79px;
}

.products-big-list__text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  &--bold {
    font-family: @font-oswald;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: @black-text;
  }
}

.products-big-list__link {
  .green-button;
  font-size: 16px;
  color: @special-dark-grey;
  width: 91px;
  padding: 10px 94px;
  margin-bottom: 25px;
  background-color: @basic-grey;
}
