.products__container {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    .wrapper;
    font-size: 16px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
  }
}

.products__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.products__item {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 324px;
    padding: 30px 36px 40px;
    margin: 0 60px 60px 0;
    background-color: @basic-grey;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0 80px 62px 0;
    width: 245px;
    padding: 0 30 0 35px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-child(5),
    &:nth-child(6) {
      margin-bottom: 0;
    }
  }
}

.products__card {
  .wrapper;
  padding: 19px 18px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 252px;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    width: 180px;
  }
}

.products__wrapper--photo {
  width: 140px;

  @media (min-width: @tablet-width) {
    width: 168px;
    height: 100px;
    margin-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    width: 172px;
    margin-bottom: 46px;
  }
}

.products__photo {
  @media (min-width: @tablet-width) {
    margin-left: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 20px;
  }
}

.products__wrapper--text {
  width: 142px;

  @media (min-width: @tablet-width) {
    width: 250px;
  }

  @media (min-width: @desktop-width) {
    width: 173px;
  }
}

.products__name-link {
  .heading(16px; 20px);
  .uppercase-text(@special-dark-text);
  display: block;
  width: 76px;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    .heading(20px; 24px);
    width: 150px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 21px;
  }

  @media (min-width: @desktop-width) {
    .heading(20px; 21px);
  }
}

.products__info {
  margin-bottom: 22px;
  width: 100%;
}

.products__value {
  text-align: right;

  &--price {
    text-transform: uppercase;
  }
}

.products__link {
  .button;
  margin: 0 auto;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    width: 248px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
  }
}
