.products-big-list {
  .wrapper;
  padding-top: 79px;
}

.products-big-list__text {
  .product-info;
  text-align: center;

  &--bold {
    .product-name;
    color: @black-text;
  }
}

.products-big-list__link {
  .button;
  color: @special-dark-grey;
  width: 91px;
  padding: 10px 94px;
  margin-bottom: 25px;
  background-color: @basic-grey;
}
