// colors //
@basic-white: #ffffff;
@basic-black: #000000;
@black-text: #111111;
@special-dark-text: #222222;
@basic-grey: #f2f2f2;
@grey-line: #d9d9d9;
@special-dark-grey: #444444;
@bg-grey: #eaeaea;
@special-grey: #cdcdcd;
@bg-footer-grey: #ebebeb;
@grey-icon: #666666;
@grey-border: #e6e6e6;
@hover-grey-border: #bababa;
@grey-plus: #d3d3d3;
@green: #68b738;
@red: #ff8282;


