// colors //
@basic-white: #ffffff;
@basic-black: #000000;
@black-text: #111111;
@special-dark-text: #222222;
@basic-grey: #f2f2f2;
@grey-line: #d9d9d9;
@special-dark-grey: #444444;
@bg-grey: #eaeaea;
@special-grey: #cdcdcd;
@bg-footer-grey: #ebebeb;
@grey-icon: #666666;
@grey-border: #e6e6e6;
@hover-grey-border: #bababa;
@grey-plus: #d3d3d3;
@green: #68b738;
@red: #ff8282;


// fonts //
@font-oswald: "Oswald", Arial, sans-serif;
@font-arial: Arial, sans-serif;

// viewports //

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1200px;



// mixin //

.heading() {
  font-family: @font-oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: left;
  color: @basic-black;
}

.white-heading() {
  color: @basic-white;
  text-align: center;
  background-color: @green;
  margin-top: 0px;
}

.green-button() {
  display: block;
  font-family: @font-oswald;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @green;
}
