// colors //
@basic-white: #ffffff;
@basic-black: #000000;
@black-text: #111111;
@special-dark-text: #222222;
@basic-grey: #f2f2f2;
@grey-line: #d9d9d9;
@special-dark-grey: #444444;
@bg-grey: #eaeaea;
@special-grey: #cdcdcd;
@bg-footer-grey: #ebebeb;
@grey-icon: #666666;
@grey-border: #e6e6e6;
@grey-border-input: #e7e7e7;
@hover-grey-border: #bababa;
@grey-plus: #d3d3d3;
@green: #68b738;
@red: #ff8282;

// fonts //
@base-font: "Arial", "Tahoma", sans-serif;
@decor-font: "Oswald", @base-font;

// viewports //
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;

// mixin //
.wrapper() {
  width: 280px;
  margin: 0 auto;
}

.page-heading() {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.description() {
  font-family: @base-font;
  line-height: 18px;
}

.button() {
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @green;
}

.black-uppercase-text() {
  color: @basic-black;
  text-transform: uppercase;
  font-weight: 400;
}

.product-name() {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-info() {
  font-size: 12px;
  line-height: 16px;
}
