.address {
  &--grey-bg {
    background-color: @basic-grey;
  }
}

.address__wrapper {
  .wrapper;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.address__text {
  .black-uppercase-text;
  font-size: 16px;
  line-height: 18px;
  color: @black-text;
  width: 140px;
}

.address__info {
  font-family: @base-font;
  line-height: 20px;
  width: 140px;
}
