.copyright {
}

.copyright__link {
  display: block;
  font-size: 16px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    background-color: @grey-icon;
    right: 10px;
    top: -5px;
  }
}


