.copyright {
  width: 100%;
  margin-top: 3px;

  @media (min-width: @tablet-width) {
    width: 165px;
    margin-top: 0;
  }
}

.copyright__link {
  font-size: 16px;
  color: @special-dark-grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 34px;
  margin-right: 0;

  & .copyright__text {
    max-width: 50%;
    word-break: break-all;

    @media (min-width: @tablet-width) {
      max-width: 115px;
      margin-top: 0;
    }
  }

  &:active {
    opacity: 0.3;
  }

  & svg {
    fill: @grey-icon;
  }

  &:hover {
    & svg {
      fill: @green;
    }
  }
}
