.main-nav {
  &__toggle {
    position: absolute;
    border: none;
    width: 18px;
    height: 18px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: transparent;
  }

  &__toggle::before, &__toggle::after {
    position: absolute;
    content: "";
    background-color: @basic-black;
    width: 20px;
    height: 1px;
    top: 10px;
    left: 1px;
    right: 10px;
    cursor: pointer;
  }

  &__toggle::before {
    transform: rotate(45deg);
  }

  &__toggle::after {
    transform: rotate(-45deg);
  }
}


