.page {
  height: 100%;
}

.page__body {
  width: @mobile-width;
  padding: 0;
  margin: 0 auto;
  background-color: @basic-white;
  font-family: @font-arial;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  color: @special-dark-grey;
}

