.page-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.page-header__container {
  @media (min-width: @tablet-width) {
    .wrapper;
    display: flex;
    flex: wrap;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 100%;

    &--casual {
      padding-top: 53px;
    }
  }
}

.page-header__wrapper {
  .wrapper;
  display: flex;
  align-items: center;
  padding-top: 12px;
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    flex: 1 0 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
  }
}

.page-header__logo {
  margin-right: 56px;

  @media (min-width: @tablet-width) {
    margin-right: 12px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 14px;
  }
}

.page-header__title {
  text-transform: uppercase;
  text-align: center;
  color: @black-text;
  width: 101px;

  @media (min-width: @tablet-width) {
    width: 120px;
  }

  @media (min-width: @desktop-width) {
    width: 130px;
  }
}
