.page-footer {
  background-color: @bg-footer-grey;
  padding-bottom: 32px;
}

.page-footer__heading {
  margin: 0 auto;
  text-align: center;
  color: @black-text;
  text-transform: uppercase;
  padding-top: 39px;
  padding-bottom: 32px;
}
