.site-list {
  list-style: none;
  padding: 0px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 320px;
  

  &__item, &__item a {
    font-family: "Oswald", Arial, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500px;
    color: @basic-black;
    text-transform: uppercase;
    text-align: center;
  }

  &__item {
    border-top: 1px solid @grey-border;
  }

  &__item a {
    display: block;
    padding-top: 22px;
    padding-bottom: 24px;
  }
}
