.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.site-list__item a {
  display: block;
  color: @basic-black;
  padding: 22px 0 24px;
}
