.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding-top: 69px;
    padding-right: 110px;
    padding-left: 132px;
  }
}

.site-list__item {
  @media (min-width: @tablet-width) {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 32px;
  }
}

.site-list__item a {
  display: block;
  color: @basic-black;
  padding: 22px 0 24px;

  @media (min-width: @desktop-width) {
    color: @basic-white;
  }
}
