.social {
  padding: 0 20px;
}

.social__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  width: 130px;
  padding-top: 23px;
  padding-right: 70px;
  padding-bottom: 24px;
  padding-left: 70px;
  margin-bottom: 22px;
  border-top: 1px solid @grey-line;
  border-bottom: 1px solid @grey-line;
}

.social__item {
  margin-right: 33px;
  margin-bottom: 5px;
  &:nth-child(3n) {
    margin-right: 0px;
  }
}

.social__link {
  display: block;
  background-color: @grey-icon;
  &--vkontakte {
    width: 23px;
    height: 16px;
  }

  &--instagram {
    width: 16px;
    height: 16px;
  }

  &--facebook {
    width: 22px;
    height: 22px;
  }
}




