.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    justify-content: flex-start;
  }
}

.social__item {
  margin-right: 33px;
  margin-bottom: 5px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  @media (min-width: @tablet-width) {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  &--vkontakte {
    width: 23px;
    height: 16px;
  }

  &--instagram {
    width: 16px;
    height: 16px;
  }

  &--facebook {
    width: 22px;
    height: 22px;
  }

  @media (min-width: @tablet-width) {
    &--vkontakte {
      margin-left: 9px;
      margin-right: 34px;
    }

    &--instagram {
      margin-right: 24px;
    }

    &--vkontakte svg {
      width: 30px;
      height: 22px;
    }

    &--instagram svg {
      width: 23px;
      height: 23px;
    }

    &--facebook svg {
      width: 28px;
      height: 33px;
    }
  }
}
